*.suo
*.user
*.bowerrc
*.min.*
*.lock.*

/.vs
/src/SeamsCore/bin
/src/SeamsCore/obj
/src/SeamsCore/wwwroot/lib
/src/SeamsCore/appsettings.json
/test/SeamsCore.UnitTests/obj/Debug
/test/SeamsCore.UnitTests/bin/Debug
