@model SeamsCore.Features.Page.Load.Result

<div class="container">
    <div class="contact_us_header row">
        <div class="col-md-7">
            <h1 class="page_header_text white-text">
                @Html.EmergePageContent("basic-header")
            </h1>
        </div>
    </div>
</div>

<div class="container">
    <br />
    <br />
    @Html.EmergePageContent("basic-content")
    <br />
    <br />
</div> <!-- /container -->