.seams .seams_ui {
  font-family: 'Ropa Sans', sans-serif;
  color: black; }

.seams .seams_ui_page {
  padding: 10px;
  border: 1px solid #828282;
  background-color: #FAF9FA;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px; }

.page_settings {
  position: fixed;
  top: 52px;
  z-index: 1001;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%; }
  .page_settings form {
    padding: 15px;
    margin: 0 auto; }

.log-in {
  background: transparent url(/client/img/login-badge.png) no-repeat top center;
  width: 319px;
  height: 628px;
  margin: 0 auto; }
  .log-in form {
    position: relative;
    top: 360px; }
    .log-in form .login-field {
      margin-left: 47px; }
    .log-in form p {
      margin-left: -18px; }

.modal-body {
  background-color: #fff; }

.nav li a {
  text-transform: uppercase; }

.seams .ui_page_desc {
  color: gray;
  text-align: center; }

.seams .ui_segment {
  margin: 20px 0;
  padding: 10px;
  background-color: white;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px; }

.seams .ui_segment_title {
  font-size: 12px;
  color: gray;
  padding-top: 5px;
  padding-bottom: 5px; }

.seams .nav_bg {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: #333333;
  height: 95px; }

.seams .nav {
  position: fixed;
  top: 0;
  z-index: 1001;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%; }

.seams .nav_spacer {
  padding-bottom: 95px; }

.seams .nav_content {
  min-height: 32px;
  width: 100%;
  background: white;
  border-radius: 2px;
  margin-top: 10px; }
  .seams .nav_content a:visited {
    color: #000; }

.seams .nav_item {
  float: left;
  padding: 5px 10px;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.seams .table {
  margin: 20px 0;
  background-color: white;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px; }
  .seams .table th {
    font-weight: normal; }

.seams .nav_btn {
  border-top: 0;
  border-bottom: 0;
  border-radius: 0; }
  .seams .nav_btn:hover {
    background-color: #F9F9F9; }

.seams .btn,
.seams .btn_form_control,
.seams .btn_small,
.seams .btn_mini {
  background-color: #F0F0F0;
  border: 1px solid #D4D4D4;
  color: gray;
  text-transform: uppercase; }
  .seams .btn:hover,
  .seams .btn_form_control:hover,
  .seams .btn_small:hover,
  .seams .btn_mini:hover {
    background-color: #E8E8E8; }

.seams .btn_mini {
  font-size: 12px;
  font-weight: bold;
  padding: 2px 4px; }

.seams .btn_small {
  font-size: 14px;
  font-weight: bold;
  padding: 3px 5px; }

.seams .btn_form_control {
  font-size: 12px;
  font-weight: bold;
  padding: 7px 12px; }

.seams .btn {
  font-size: 14px;
  font-weight: bold;
  padding: 7px 9px; }

.seams .btn_green {
  background-color: #5BBD72;
  border: 1px solid #4FB968;
  color: white; }
  .seams .btn_green:hover {
    background-color: #53BF6C; }

.seams .btn_red {
  background-color: #D95C5C;
  border: 1px solid #D95C5C;
  color: white; }
  .seams .btn_red:hover {
    background-color: #D95C5C; }

.seams .input_small {
  height: 28px;
  padding: 3px 5px;
  border-radius: 0;
  font-size: 14px;
  font-weight: bold; }

.manage_primarys,
.manage_secondarys {
  padding-left: 0; }

.manage_primarys li {
  list-style: none; }

.manage_primary {
  list-style: none; }

.manage_secondary {
  list-style: none; }

.content {
  max-width: 1000px;
  margin: 0 auto; }

.seams .content {
  padding-top: 52px; }

.no_padding {
  padding: 0 !important; }

.no_margin {
  margin: 0 !important; }

.bottom_margin_10 {
  margin-bottom: 10px; }

.dragula-handle {
  cursor: pointer; }

.widget-box {
  background: none repeat scroll 0 0 #f0f4f5;
  box-shadow: 0 1px 3px #c8d1d3;
  clear: both;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative; }

.widget-header {
  background: #fff;
  border-bottom: 1px solid #c8d1d3;
  height: 42px; }

.widget-header .widget-icon {
  padding: 12px 10px 9px 11px;
  float: left;
  border-right: 1px solid #c8d1d3; }

.widget-header .widget-title {
  color: #666;
  font-size: 12px;
  line-height: 42px;
  font-weight: bold;
  padding-left: 12px; }

.widget-content {
  border-bottom: 1px solid #cdcdcd; }

.widget-level-1,
.widget-level-2,
.widget-level-3 {
  height: auto;
  font-size: 10px;
  padding: 11px;
  color: #666666; }
  .widget-level-1 .btn,
  .widget-level-2 .btn,
  .widget-level-3 .btn {
    font-size: 10px;
    padding: 5px 10px 2px; }

.widget-level-1 {
  border-top: 1px solid #c8d1d3; }

.widget-level-2 {
  margin-left: 30px;
  background-color: #fff;
  border-left: 1px solid #c8d1d3;
  border-bottom: 1px solid #c8d1d3;
  border-top: 1px solid #c8d1d3; }

.widget-level-3 {
  margin-left: 60px;
  background-color: rgba(240, 244, 245, 0.05);
  border-left: 1px solid #c8d1d3;
  border-bottom: 1px solid #c8d1d3; }

